/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, 
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-image: url(/public/img/body-bg.jpg);
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300; 
    color : white; 
}

a{
    color: #F9AA01; 
    text-decoration: underline; 
}

/*LAYOUT*/

.container-fluid {
    max-width: 100%; 
    margin: 0 auto; 
}

.container {
    max-width: 1000px;
    margin: 0 auto; 
}

.section {
    padding: 30px 0px; 
}

.row {
    display: flex; 
    flex-wrap: wrap; 
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    padding: 5px; 
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    padding: 5px; 
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    padding: 5px; 
}

/*Utilities*/

.badge {
    padding: 5px 10px; 
    transform: skew(-20deg); 
    background-color: #F9AA01;
    display: inline-block; 
}

.badge-text {
    color: black; 
    transform: skew(20deg);
    font-weight: 900; 
}

.light-text {
    color: gray; 
}

.center {
    align-items: center; 
    justify-content: center; 
}
