/*RESET*/
@use '../styles/partials/variables.scss' as * ; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, 
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    background-image: url(/public/img/body-bg.jpg);
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300; 
    color : $white; 
}

a{
    color: $yellow; 
    text-decoration: underline; 
}

/*LAYOUT*/

.container-fluid {
    max-width: 100%; 
    margin: 0 auto; 
}

.container {
    max-width: 1000px;
    margin: 0 auto; 
}

.section {
    padding: 30px 0px; 
}

.row {
    display: flex; 
    flex-wrap: wrap; 
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
    padding: 5px; 
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    padding: 5px; 
}

.col-3 {
    flex-basis: calc((100% / 12) * 3);
    padding: 5px; 
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
    padding: 5px; 
}
/*Utilities*/

.badge {
    padding: 5px 10px; 
    transform: skew(-20deg); 
    background-color: $yellow;
    display: inline-block; 
}

.badge-text {
    color: black; 
    transform: skew(20deg);
    font-weight: 900; 
}

.light-text {
    color: gray; 
}

.center {
    align-items: center; 
    justify-content: center; 
}

.section-title {
    margin-bottom: 15px; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
    justify-content: center; 
    align-items: center; 
    &::after {
        content: '';
        width: 30px; 
        height: 2px; 
        background-color: $yellow;
        display: block; 
    }
}

.list-border {
    display: flex;  
    margin-bottom: 25px;
    .item-border {
        font-size: 12px; 
        font-weight: 500; 
        border: 1px solid $darkgray; 
        padding: 10px 15px; 
    }
}
